body {
  margin: 0;
  color: white;
  background: #1f2c38;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #4a5765;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
